*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

html,
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Inconsolata, monospace;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}


.square {
  pointer-events: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 1px;
  background-color: currentColor;
  font-size: 14px;
}

#first-div {
  display: flex;
  flex-wrap: wrap;
}