---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Home">

  <main>

    <script>
      import { Animationss } from "../animation-core";
      let a = new Animationss('test', 5, "wow")
      console.log(a)
      const buttons = document.querySelectorAll('button')
    buttons.forEach((button) => {
    button.addEventListener('click', () => {
      a.addition();
    });
  });
      let total_num = 10

      let squares = {
        15: "fifteen",
        14: "fourteen",
        13: "thirteen",
        12: "twelve",
        11: "eleven",
        10: "ten",
        9: "nine",
        8: "eight",
        7: "seven",
        6: "six",
        5: "five",
        4: "four",
        3: "three",
        2: "two",
        1: "one"
      }

    </script>

    <h2 id="number" class="bignum">10</h2>

    <div id="mega-div" style="overflow: hidden">
      <div id="first-div">
        <div id="one" class="square"></div>
        <div id="two" class="square"></div>
        <div id="three" class="square"></div>
      </div>
    </div>


    <button>Add</button>
  </main>
</BaseLayout>
