---
import BaseLayout from "../layouts/BaseLayout.astro"
import Categories from "../components/cards/categories.astro"
---

<BaseLayout title="Home">
  <h1>What do you want to visualize?</h1>
  <br />
  <Categories />
</BaseLayout>
