---
import "@fontsource/inconsolata"
import "../styles/global.css"
const { title } = Astro.props
---

<style>
  .wrapper {
    height: 100%;
    padding: 20px 25%;
  }
  @media (max-width: 768px) {
    .wrapper {
      padding: 20px 10%;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Mathnimatics</title>
    <script src="https://raw.githubusercontent.com/juliangarnier/anime/master/lib/anime.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>
